{
  "globals": {},
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jasmine": true,
    "mocha": true,
    "jquery": true
  },
   "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
  "rules": {
    "no-unused-vars": ["error", {"vars": "local", "args": "after-used"}],
    "no-console": "off",
    "indent": [ "error", 2 ],
    "semi": ["error", "always"],
    "linebreak-style": [ "error", "unix" ],
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  },
  "ecmaFeatures": {
    "modules": true,
    "impliedStrict": true,
    "experimentalObjectRestSpread": true
  },
  "extends": "eslint:recommended"
}
